/*Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Staatliches&display=swap');


:root {
  --primary-color: #efe2e9;
  --secondary-color: #010c12;
  --tertiary-color: #eef4f5;
}

body {
  margin: 0;
  font-family: 'Vollkorn', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Background image settings*/
  background-image: url('./assets/images/vertical-landing-screen.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-family: 'Staatliches', cursive;
  color: var(--primary-color);
  text-align: center;
  font-size: 2.5em
}

main {
  margin: 2em;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
