/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Moonrocks&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Rubik+Moonrocks&family=Staatliches&display=swap');



:root {
  --primary-color: #efe2ed;
  --secondary-color: #ed8f8f;
  --tertiary-color: #1d000f;
  --quaternary-color: #ffffff;
}

body {
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Background image settings*/
  background-image: url('./assets/images/vertical-landing-screen-watercolor-2.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
}

span {
  font-weight: 700;
  color: var(--quaternary-color);
}


/*HEADER*/
header {
  margin-top: 1em;
  margin-right: 1em;
}
header p {
  text-align: right;
}

main {
  margin: 2.5em;
}

/*END OF HEADER */

h1 {
  color: var(--primary-color);
  text-align: center;
}

h2 {
  color: var(--primary-color);
  opacity: 90%;
  text-align: center;
  font-size: 3em
}

p {
  color: var(--primary-color);
}

ul {
  column-gap: 1em;
  justify-content: right;
  list-style-type:none
}

li {
  font-family: 'Permanent Marker', cursive;
  color: var(--primary-color);
}

li:hover {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}


/*HOME PAGE*/
.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0em;
}

.citation {
  font-size: 0.7em;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--primary-color);
  font-weight: 600;
  border-style: solid;
}

.start-btn {
  border: none;
}

/*END OF HOME PAGE*/
/*FOOTER*/

footer {
  margin-top: 20vh;
}
footer p {
  text-align: center;
}

.logo {
  max-height: 30px;
}

/*PROFILES*/

.storytelling {
  display: flex;
  justify-content: space-around;
}

.storytelling button {
  width: 7em;
  height: 4em;
  border-color: #0a0a0a;
  border-width: 4px;
}

.storytelling a {
  color: var(--primary-color);
}

.btn-previous {
  background-color: #3518dc18;
}

.btn-next {
  background-color: #f89de050
}

/*ABOUT*/

.about a {
  color:var(--secondary-color);
  font-weight: 700;
}

.about a:hover {
  color:var(--tertiary-color);
}

/*ERROR*/
.pages-error-end {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

/*BACK BUTTONS*/

.back-btns {
  column-gap: 1em;
}

.back-btns button {
  width: 7em;
  height: 4em;
}

.back-btns button:hover {
  background-color: var(--secondary-color);
}

.back-btns button:hover a {
  color: var(--primary-color);
}
