/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Rubik+Moonrocks&family=Staatliches&display=swap');

:root {
  --primary-color: #efe2ed;
  --secondary-color: #ed8f8f;
  --tertiary-color:  #e78fed28;
  --quaternary-color: #ffffff;
  --quinary-color:  #0a0a0a;
}

body {
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Background image settings*/
  background-image: url('./assets/images/vertical-landing-screen-watercolor-2.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 1.3em 0 1.3em;
  min-height: 100vh;
}

/*FONTS*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  color: var(--primary-color);
  opacity: 90%;
  text-align: center;
  font-size: 3em
}

h2 {
  color: var(--primary-color);
  text-align: center;
}

p {
  color: var(--primary-color);
  font-size: 1.3em;
}

span {
  font-weight: 700;
  color: var(--quaternary-color);
}

ul {
  column-gap: 1em;
  justify-content: right;
  list-style-type:none
}

li {
  font-family: 'Permanent Marker', cursive;
  color: var(--primary-color);
}

li:hover {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

/*END OF FONTS*/

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  font-weight: 600;
  border-style: none;
}

/*COMPONENTS*/
/*HEADER*/
header {
  margin-top: 1em;
  margin-right: 1em;
}

header p {
  text-align: right;
}

/*END OF HEADER */
/*FOOTER*/

footer {
  margin-top: 20vh;
}

footer p {
  text-align: center;
}

.logo {
  max-height: 30px;
}
/*END OF FOOTER*/

/*BACK BUTTONS*/
.back-btns-container {
  column-gap: 1em;
}

.back-btns button {
  width: 7em;
  height: 4em;
}

/*end of BACK BTNS*/

/*STORYTELLING*/
.profile-page-container {
  display: flex;
  justify-content: space-around;
}

.profile-page button {
  width: 7em;
  height: 4em;
  border-color: var(--quinary-color);
  border-width: 4px;
}

.btn-container {
  column-gap: 2em;
}

/*E N D  O F  C O M P O N E N T S*/

/*PAGES*/  /*PAGES*/  /*PAGES*/  /*PAGES*/  /*PAGES*/  /*PAGES*/

/*ABOUT*/
.about-page a {
  color:var(--secondary-color);
  font-weight: 700;
}

.link:hover {
  color:var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 10%;
}

button:hover a {
  background-color: none;
}

/*end of ABOUT*/

/*HOMEPAGE*/

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0em;
}

.quote-citation {
  font-size: 0.9em;
}

.start-btn {
  font-size: 1.3em;
  padding: 0.8em;
}

/*END OF HOME PAGE*/

/*PROFILE PAGES*/


/*ERROR PAGE*/
.pages-error-end {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

/*Media Queries for Laptop*/
@media only screen and (min-width: 992px) {
  body{
    margin: 0vh 30vh 0vh 30vh;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1.6em;
  }

  button {
    background-color: #3518dc18;
    color: var(--primary-color);
    border: solid;
    border-color: var(--quinary-color);
    border-width: 4px;
    font-size: 1.8em;
  }

  /*Homepage*/
  .home-page h1 {
    margin: 0.3em 0 0.3em 0;
    font-size: 8vw;
    color: var(--quaternary-color);
  }
  .quote {
    margin: 2em 2em 0 2em;
  }

  .quote-text {
    font-size: 2em;
  }

  .quote-citation {
    font-size: 1.5em;
  }

  .start-btn-container {
    height: 150px;
    align-items: center;
  }
  .start-btn {
    font-size: 1.8em;
  }

  /*Error and end*/

  .pages-error-end h1{
    font-size: 8vw;
  }


  /*About*/
  li {
    font-size: 3.5vh;
  }

  /*FOOTER*/
  footer {
    margin-top: 10vh;
  }

  .logo {
    max-height: 60px;
  }

  .logo:hover {
    background-color: var(--tertiary-color);
    border-radius: 10%;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.764);
  }

  /*BUTTONS*/

  button:hover {
    background-color: #f469fe6c;
    -webkit-box-shadow:0px 0px 169px 15px rgba(233,144,235,0.74);
    -moz-box-shadow: 0px 0px 169px 15px rgba(233,144,235,0.74);
    box-shadow: 0px 0px 169px 15px rgba(233,144,235,0.74);
  }

  .btn-container {
    display:flex;
    height: 140px;
    align-items: center;
  }

  .start-btn:hover, .about-page button:hover {
    font-size: 2em;
  }

  .back-btns-container {
    display: flex;
    height: 140px;
    justify-content: space-around;
    align-items: center;
  }

}